 @import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600;700;800;900&display=swap');
  html{
    scroll-behavior: smooth;
  }
  
 body{
      font-family: 'Onest', sans-serif;
      background-color:'#f3f4f6';
      max-width:100vw;
      min-height:100vh;
      overflow-x: hidden
  }

